- var sectionTitle= data.recommendations.sectionTitle
include ../section-title/section-title.pug
.column(span="row" height="10")
.column(span="row")
  each recom in data.recommendations.recommendationsList
    .recom__wrapper
      img.recom__avatar(
        src=`${baseUrl}asset/image/recommendations/${recom.avatar}`
        width="64"
      )
      .recom__text-wrapper
        span.recom__text=recom.name
        .recom__job-title=recom.jobTitle
    .recom__wrapper_with-arrow=recom.recomText
    .column(span="row" height="10")
    .column(span="row" height="10")
    .column(span="row" height="10")
    .column(span="row" height="10")

.column(span="row")

.column(span="row" height="10")
  button.button__disc-green
    i.icon__arrow-down
.column(span="row")
.column(span="row" height="10")