- var sectionTitle= data.connect.sectionTitle
include ../section-title/section-title.pug

.column(span="row")
  .connect__avatar
.column(span="row" height="10")

each social in data.connect.socialList
  label(for=`labelId__${social.icon}`) 
    input.connect__radio(
      type="radio"
      id=`labelId__${social.icon}`
      name="socialitems"
      )
    .column(span="1")
      .connect__disc
        i(class= `icon__${social.icon}`)
//- work on how to display the description under discs
  .column(span="row")
    .connect__social-description
      h1= social.title

.column(span="row")
.column(span="row" height="10")
  button.button__disc-green
    i.icon__arrow-down
.column(span="row" height="10")
