- var sectionTitle = data[`open-source`].sectionTitle;
include ../section-title/section-title.pug

.column(span="row")
  h3.about-me__lead-title= data[`open-source`].statsTitle
.column(span="row")
.column(span="row")
  ul.stats__list
    each stats in data['open-source'].statsList
      li.stats__item
        span.stats__icon(class=`icon__${stats.icon}`)
        span.stats__content
          each content in stats.content
            span.stats__content-item=content
.column(span="row")
.column(span="row" height="10")
  h3.about-me__lead-title= data[`open-source`].gitTitle
.column(span="row" height="10")
.column(span="row" height="10")
.column(span="row")
.column(span="row").git__project
  each project in data[`open-source`].gitList
    .git__project-displayed
      .git__project-title=project.title
      .git__project-languages=project.languages
      .git__project-detailed
        .git__project-percentage
          ul.git__project-percentList
            each percent in project.percentage
              li=percent

      .git__project-color-wrapper
        each bar in project.colorBar
          .git__project-color-bar(
            class=`${bar.color}`
            style=`width:${bar.percent}`
          )
      .git__pink-icons
        each pink, key in data['open-source'].pinkContainer
          label(for=`git__pink-icons-${pink}-${key}`).pink-container
            input.git__radio(
              type="radio"
              name= "git__pink-icons"
              id= `git__pink-icons-${pink}-${key}`
              )
            i(class=`icon__${pink}`)
          
    .column(span="row" height="10")
    .column(span="row" height="10")
    .column(span="row" height="10")
    .column(span="row" height="10")
    .column(span="row" height="10")

.column(span="row")

.column(span="row")
.column(span="row" height="10")
  button.button__disc-green
    i.icon__arrow-down
.column(span="row" height="10")