.wrap
  ul.menu__wrapper
    input.menu__checkbox(
      type="checkbox"
      name="section__checkbox"
      id="section__checkbox"
    )
    label(for=`section__checkbox`)
      .burger-menu.icon__menu
      .icon.icon__cross
    .menu__item-list
      each section in data.menu.menuList
        li.menu__item=section.name
          a(
            href=`${section.link}`
            target="_blank"
            )